#product-component-1571344510124,
#product-component-1571344433543,
#product-component-1602178881523,
#product-component-1602178731128,
#product-component-1602178988244,
#product-component-1603049171094,
.shopify-buy-frame--product {
    opacity : 0 !important;
    max-height: 1px !important;
    z-index : 100;
}
