@font-face {
    font-family: "myfont";
    font-weight: 100;
    src: url("path/GraublauWeb.otf") format("opentype");
}

@font-face {
    font-family: 'haas';
    src: url('/fonts/NHaasGroteskDSStd-75Bd.svg#NHaasGroteskDSStd-75Bd') format('svg'),
    url('/fonts/NHaasGroteskDSStd-75Bd.ttf') format('truetype'),
    url('/fonts/NHaasGroteskDSStd-75Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
